@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>About</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/css/styles.css" />
    <script src="~/js/nav.js" type="module"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link 
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <script type="module"></script>

    <section class="container mt-5 text-white">
      <div class="row mb-4 align-items-center">
          <div class="col-sm-1 text-center">
              <img src="~/img/user-2.jpeg" alt="Sindhura Alla" class="img-thumbnail">
              <div class="mt-2 fw-bold text-warning">Sindhura Alla</div>
          </div>
          <div class="col-sm-10">
              <p>Turning Data into Actionable Insights - Sindhura, our data strategist, flexes her technical muscles to implement dummy CRUD functions and envision chart representations from our API data. She ensures that our website not only functions flawlessly but also looks sleek and professional, thanks to her integration of frameworks like Bootstrap. Made various creations and changes across multiple files, mostly related to the MVC_Start directory, with additions and modifications in HTML, CSS, JavaScript, and JSON files.</p>
          </div>
      </div>
      <div class="row mb-4 align-items-center">
        <div class="col-sm-1 text-center">
            <img src="~/img/user-4.jpeg" alt="Medha Alla" class="img-thumbnail">
            <div class="mt-2 fw-bold  text-warning">Medha Alla</div>
        </div>
        <div class="col-sm-10">
            <p>Crafting a Seamless Experience - Medha, our tech aficionado, is your go-to guide for a user-friendly journey through our website. She crafts compelling content and maintains a seamless GitHub repository flow, making sure that your visit is not just functional but also enjoyable. Contributed in making MVC_Start/Startup.cs file, and MVC_Start/Views/Home/Index.cshtml file</p>
        </div>
      </div>
      <div class="row mb-4 align-items-center">
        <div class="col-sm-1 text-center">
            <img src="~/img/user-1.jpeg" alt="Sudrosh" class="img-thumbnail">
            <div class="mt-2 fw-bold text-warning">Sudrosh Atchutha</div>
        </div>
        <div class="col-sm-10">
            <p>Guiding the Ship - With six years of business acumen, Sudrosh takes charge of our operations and revenue growth. He is the cohesive force behind our team, ensuring that each member's voice is heard and our collective efforts are streamlined toward perfection.Contributed in making MVC_Start/MVC_Start.csproj file and MVC_Start/Views/Home/Complaints.cshtml file.</p>
        </div>
      </div>
      <div class="row mb-4 align-items-center">
        <div class="col-sm-1 text-center">
            <img src="~/img/user-3.jpeg" alt="Krishna" class="img-thumbnail">
            <div class="mt-2 fw-bold text-warning">Krishnasai Chaluvadi</div>
        </div>
        <div class="col-sm-10">
            <p>Innovating with Data - Krishnasai, a scholar of Business Analytics and Information Systems, brings innovation to the forefront. He dives deep into API research and has conceptualized a website blueprint that's both feasible and groundbreaking. His meticulously crafted data model promises to enrich your experience on our 'About Us' page. Contributed to MVC_Start/Models/App_Models.cs file and changed MVC_Start/Views/Home/ComplaintDetails.cshtml file.</p>
        </div>
      </div>
      <div class="row mb-4 align-items-center">
        <div class="col-sm-1 text-center">
            <img src="~/img/user-5.jpeg" alt="Sumanth" class="img-thumbnail">
            <div class="mt-2 fw-bold text-warning">Sumanth Burada</div>
        </div>
        <div class="col-sm-10">
            <p>Spearheading Quality Assurance - Sumanth is our resident data enthusiast with an eagle eye for detail. He ensures that every aspect of our website meets and exceeds your expectations. His dedication to testing and optimizing the user experience is the foundation of our site's quality. Contributed to making MVC_Start/Controllers/HomeController.cs file, and changes in MVC_Start/Views/Home/Complaints.cshtml.</p>
        </div>
      </div>
  </section>

  <section class="container my-5 text-white">
      <h3><a href="https://github.com/SindhuraAlla/MVC_Start", class="text-warning">Github Link</a></h3>
      <h2>Logical Data Model</h2>
      <img src="~/img/data-model.jpeg" alt="Logical Data Model" class="img-fluid mt-3">
  </section>
  <section class="container my-5 text-white bg-dark">
    <h3 class="text-warning"> Git Log </h3>
    <div class="git-log">
      <div class="git-author">git log --author="SindhuraAlla"</div>
      36      11      MVC_Start/Views/Home/Index.cshtml
      10      0       MVC_Start/appsettings.Development.json
      16      0       MVC_Start/appsettings.json
      27      9       MVC_Start/Views/Shared/_Layout.cshtml
      107     0       MVC_Start/wwwroot/css/styles.css
      -       -       MVC_Start/wwwroot/img/complaint-logo.png
      -       -       MVC_Start/wwwroot/img/complaints-bg-image.jpeg
      -       -       MVC_Start/wwwroot/img/data-model.jpeg
      -       -       MVC_Start/wwwroot/img/user-1.jpeg
      -       -       MVC_Start/wwwroot/img/user-2.jpeg
      -       -       MVC_Start/wwwroot/img/user-3.jpeg
      -       -       MVC_Start/wwwroot/img/user-4.jpeg
      -       -       MVC_Start/wwwroot/img/user-5.jpeg
      191     0       MVC_Start/wwwroot/js/complaints.js
      44      0       MVC_Start/wwwroot/js/fetch-api-data.js
      21      0       MVC_Start/wwwroot/js/fetch-api.js
      14      0       MVC_Start/wwwroot/js/fetch-util.js
      21      0       MVC_Start/wwwroot/js/nav.js
      21      0       MVC_Start/wwwroot/js/submit.js
      2       1       .gitignore
      0       12      MVC_Start/Controllers/TestController.cs
      0       29      MVC_Start/Properties/PublishProfiles/ism6225demo - Web Deploy.pubxml
      0       30      MVC_Start/Properties/PublishProfiles/manishhello - Web Deploy.pubxml
      0       113     MVC_Start/Properties/ServiceDependencies/ism6225demo - Web Deploy/profile.arm.json
      0       113     MVC_Start/Properties/ServiceDependencies/manishhello - Web Deploy/profile.arm.json
      0       27      MVC_Start/Properties/launchSettings.json
      0       40      MVC_Start/Views/Home/Contact.cshtml
      0       54      MVC_Start/Views/Home/DemoChart.cshtml
      0       7       MVC_Start/Views/Home/IndexWithLayout.cshtml
      0       36      MVC_Start/wwwroot/css/site.css
      -       -       MVC_Start/wwwroot/favicon.ico
      0       1       MVC_Start/wwwroot/js/site.js
  </div>
  
  <div class="git-log">
      <div class="git-author">git log --author="sudroshkumar10"</div>
      0       29      MVC_Start/Properties/PublishProfiles/ism6225demo - Web Deploy.pubxml
      0       30      MVC_Start/Properties/PublishProfiles/manishhello - Web Deploy.pubxml
      0       113     MVC_Start/Properties/ServiceDependencies/ism6225demo - Web Deploy/profile.arm.json
      0       113     MVC_Start/Properties/ServiceDependencies/manishhello - Web Deploy/profile.arm.json
      0       27      MVC_Start/Properties/launchSettings.json
      30      0       MVC_Start/bundleconfig.json
      29      0       MVC_Start/Properties/PublishProfiles/ism6225demo - Web Deploy.pubxml
      30      0       MVC_Start/Properties/PublishProfiles/manishhello - Web Deploy.pubxml
      113     0       MVC_Start/Properties/ServiceDependencies/ism6225demo - Web Deploy/profile.arm.json
      113     0       MVC_Start/Properties/ServiceDependencies/manishhello - Web Deploy/profile.arm.json
      27      0       MVC_Start/Properties/launchSettings.json
      7       1       MVC_Start/MVC_Start.csproj
      24      1       MVC_Start/Views/Home/Complaints.cshtml
      1       24      MVC_Start/Views/Home/Complaints.cshtml
      157     0       MVC_Start/Views/Home/About.cshtml
      89      0       MVC_Start/Views/Home/Complaints.cshtml
      
  </div>
  
  <div class="git-log">
      <div class="git-author">git log --author="Sumanth-burada"</div>
      0       29      MVC_Start/Properties/PublishProfiles/ism6225demo - Web Deploy.pubxml
      0       30      MVC_Start/Properties/PublishProfiles/manishhello - Web Deploy.pubxml
      0       113     MVC_Start/Properties/ServiceDependencies/ism6225demo - Web Deploy/profile.arm.json
      0       113     MVC_Start/Properties/ServiceDependencies/manishhello - Web Deploy/profile.arm.json
      0       27      MVC_Start/Properties/launchSettings.json
      21      0       MVC_Start/wwwroot/js/nav.js
      21      0       MVC_Start/wwwroot/js/submit.js
      116     41      MVC_Start/Controllers/HomeController.cs
      29      0       MVC_Start/Properties/PublishProfiles/ism6225demo - Web Deploy.pubxml
      30      0       MVC_Start/Properties/PublishProfiles/manishhello - Web Deploy.pubxml
      113     0       MVC_Start/Properties/ServiceDependencies/ism6225demo - Web Deploy/profile.arm.json
      113     0       MVC_Start/Properties/ServiceDependencies/manishhello - Web Deploy/profile.arm.json
      27      0       MVC_Start/Properties/launchSettings.json
      0       21      MVC_Start/wwwroot/js/nav.js
      0       21      MVC_Start/wwwroot/js/submit.js
      19      0       MVC_Start/DataAccess/ApplicationDbContext.cs
  </div>

  <div class="git-log">
    <div class="git-author">git log --author="Medhaalla"</div>
      0       29      MVC_Start/Properties/PublishProfiles/ism6225demo - Web Deploy.pubxml
      0       30      MVC_Start/Properties/PublishProfiles/manishhello - Web Deploy.pubxml
      0       113     MVC_Start/Properties/ServiceDependencies/ism6225demo - Web Deploy/profile.arm.json
      0       113     MVC_Start/Properties/ServiceDependencies/manishhello - Web Deploy/profile.arm.json
      0       27      MVC_Start/Properties/launchSettings.json
      29      0       MVC_Start/Properties/PublishProfiles/ism6225demo - Web Deploy.pubxml
      30      0       MVC_Start/Properties/PublishProfiles/manishhello - Web Deploy.pubxml
      113     0       MVC_Start/Properties/ServiceDependencies/ism6225demo - Web Deploy/profile.arm.json
      113     0       MVC_Start/Properties/ServiceDependencies/manishhello - Web Deploy/profile.arm.json
      27      0       MVC_Start/Properties/launchSettings.json
      25      20      MVC_Start/Startup.cs
      1       1       MVC_Start/Views/Home/Index.cshtml
      1       1       MVC_Start/Views/Home/Index.cshtml
  </div>

  <div class="git-log">
    <div class="git-author">git log --author="KrishnaKSD3004"</div>
      44      11      MVC_Start/Models/App_Models.cs
      0       29      MVC_Start/Properties/PublishProfiles/ism6225demo - Web Deploy.pubxml
      0       30      MVC_Start/Properties/PublishProfiles/manishhello - Web Deploy.pubxml
      0       113     MVC_Start/Properties/ServiceDependencies/ism6225demo - Web Deploy/profile.arm.json
      0       113     MVC_Start/Properties/ServiceDependencies/manishhello - Web Deploy/profile.arm.json
      0       27      MVC_Start/Properties/launchSettings.json
      29      0       MVC_Start/Properties/PublishProfiles/ism6225demo - Web Deploy.pubxml
      30      0       MVC_Start/Properties/PublishProfiles/manishhello - Web Deploy.pubxml
      113     0       MVC_Start/Properties/ServiceDependencies/ism6225demo - Web Deploy/profile.arm.json
      113     0       MVC_Start/Properties/ServiceDependencies/manishhello - Web Deploy/profile.arm.json
      27      0       MVC_Start/Properties/launchSettings.json
      74      0       MVC_Start/Views/Home/ComplaintDetails.cshtml
      129     0       MVC_Start/Views/Home/EditComplaint.cshtml
  </div>

  </section>
  </body>
</html>
