@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/css/styles.css" />
    <script src="~/js/nav.js" type="module"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link 
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <script type="module"></script>

    <section class="hero text-white text-center py-5">
      <p class="fst-italic">"Customers don't except you to be perfect. They DO expect you to fix things when they go wrong"</p>
      <h1 class="pb-2">Consumer Complaint Portal</h1>
      <p>Platform where consumers can leave reviews for businesses.</p>
      <a class="btn btn-dark" href="@Url.Action("Complaints", "Home")">Explore Now</a>
    </section>
    <footer class="bg-dark text-white py-1 fixed-bottom text-end">
      <div class="container">
          <p>&copy; 2023 Consumer Complaint Portal. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
